<header class="header">
  <style>
 
.header__button {
  
  background-color: rgb(251, 251, 251);
  padding: 10px;
  color: #333;
}
.header__button a {

 font-size: 15px;
  color: #333;
}

  </style>
  <a href="/" class="header__logo">Admin Panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/contact" class="">Contact</a>
      </li>
    </ul>

  </nav>

  <div class="header__button">
    <a href="/logout">
      Logout
    </a>
  </div>

</header>